$header-height: 40px;
$sidebar-width: 200px;
$sidebar-closed-width: 50px;

$content-max-width: 700px;

$background-color: #121212;
$primary-surface-color: #484848;
$primary-aux-color: #6d6d6d;
$primary-color: #bb86fc;
$secoundary-color: #03dac5;
$text-color: #fff;

$primary-card-color: #303030;
