@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  //padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
#root,
.maincontent {
}
html {
  scroll-behavior: smooth;
}
#root {
  height: 100vh;
}

.maincontent {
  scroll-behavior: smooth;
  width: calc(100% - $sidebar-width);
  height: 100%;
  left: $sidebar-width;
  position: relative;
  overflow-y: scroll;
  transition: all 500ms ease;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
}
