@import "variables";

$error-color: #cf6679;

.contact {
  border-top: 1px solid white;
  height: 100vh;
  padding: 10px;
  max-width: $content-max-width;
  width: 100%;
  h1 {
    margin-bottom: 50px;
    color: $primary-color;
  }
}

.contact-wrapper {
  background-color: $primary-card-color;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  color: white;
  h2 {
    color: $secoundary-color;
  }
  p {
    opacity: 0.6;
  }
  .button-wrapper {
    width: fit-content;
    margin: 0 auto;
    .submit-button {
      margin: 10px 0 0 0;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      text-align: center;
      background: none;
      border: 1px solid $secoundary-color;
      color: $secoundary-color;
      cursor: pointer;
      &:hover {
        border: 1px solid $primary-color;
        color: $primary-color;
      }
      &:active {
        border: 1px solid white;
        color: white;
      }
    }
  }
}

.contact-form {
  margin: 20px 0;
  label {
    opacity: 0.6;
  }
  .form-row {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    div {
      position: relative;
      width: 100%;
    }
    p {
      color: $error-color;
      font-size: 12px;
      position: absolute;
      top: calc(100% - 5px);
      left: 0;
    }
  }
  input,
  textarea {
    border: 1px solid transparent;
    width: 100%;
    margin: 2px 0 10px 0;
    padding: 5px 2px;
    border-radius: 4px;
    outline: none;
    background-color: $primary-surface-color;
    color: rgba(white, 0.7);
    &:hover {
      box-shadow: 0 0 3px 0px #121212;
      color: white;
    }
    &:focus {
      color: white;
      //outline: 1px solid orange;
      box-shadow: 0 0 3px 0px #121212;
    }
  }
  .error {
    color: $error-color;
    & input {
      border: 1px solid $error-color;
    }
  }
  textarea {
    resize: none;
    height: 100px;
  }
}

.contact-social {
  margin: 50px auto 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    :hover {
      width: 60px;
      height: 60px;
    }
    &:first-child {
      color: #0077b5;
    }
    &:last-child {
      color: #f5f5f5;
    }
  }
}
