@import "variables";

$color: #fff;
/* ===== Colors ===== */
$body-color: #e4e9f7;
$sidebar-color: #fff;
$primary-color: #695cfe;
$primary-color-light: #f6f5ff;
$toggle-color: #ddd;
$text-color: #707070;

$dark-body-color: #18191a;
$dark-sidebar-color: #242526;
$dark-primary-color: #3a3b3c;
$dark-secondary-color: #3e616b;
$dark-toggle-color: #fff;
$dark-text-color: #ccc;

.demo {
  height: calc(100vh - $header-height);
  position: relative;
  width: 100vw;
  background-color: aquamarine;
  overflow-y: auto;
}
