@import "variables";

$translate-position: 100px;
$transition-timing-function: ease;
$transition-duration: 500ms;
$project-card-height: 700px;

.projects {
  width: 100%;
  max-width: $content-max-width;
  padding: 10px;
  border-top: 1px solid white;
  h1 {
    margin-bottom: 50px;
    color: $primary-color;
  }
  & > div {
    color: $primary-color;
    margin: 10px 0;
  }
  overflow-x: hidden;
}

.project-container {
  width: 100%;
  margin: 20px 0;
  transition: transform $transition-duration $transition-timing-function,
    opacity $transition-duration $transition-timing-function;
  opacity: 0;
  &:nth-child(odd) {
    transform: translateX($translate-position);
    &.visible {
      transform: translateX(0);
    }
  }
  &:nth-child(even) {
    transform: translateX(-$translate-position);
    &.visible {
      transform: translateX(0);
    }
  }
}

.project {
  padding: 10px 5px;
  width: 100%;
  display: inline-block;
  /* max-height: $project-card-height; */
  background: $primary-card-color;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(100px, 3fr) 2fr;
  //grid-template-rows: 1fr 50px;
  border-radius: 15px;
}
.project-title {
  height: 37px;
  margin: 10px 0;
  grid-column: 1/3;
  text-align: center;
  color: $secoundary-color;
}
.project-info {
  padding: 10px;
  height: 100%;
  text-align: center;
  color: white;

  word-break: normal;
  p {
    font-size: 14px;
    opacity: 0.6;
  }
}

.project-demo {
  height: 50px;
  margin-top: 10px;
  grid-column: 1/3;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-right: 10px;
  }
}

.project-demo-card {
  padding: 5px;
  border: 1px solid $secoundary-color;
  color: $secoundary-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}

.visible {
  opacity: 1;
}

@media (max-width: 600px) {
  .project {
    grid-template-columns: minmax(275px, 1fr);
    //grid-template-rows: 250px 250px 40px;
  }
  .project-title {
    grid-column: 1;
  }
  .project-demo {
    grid-column: 1;
  }
}
